# chezmoi managed tmux.conf
# Environment: {{ .pc }} | WSL: {{ .isWsl }} | Mac: {{ .isMac }}

# Common settings
{{ include "tmux/common.conf" }}

# Environment specific settings
{{- if .isWsl }}
{{ include "tmux/wsl.conf" }}
{{- else if .isMac }}
{{-   if eq .pc "work" }}
{{ include "tmux/work.conf" }}
{{-   else }}
{{ include "tmux/mac.conf" }}
{{-   end }}
{{- end }}
