{{- /* chezmoi managed zshrc */ -}}
{{- /* Environment: {{ .pc }} | WSL: {{ .isWsl }} | Mac: {{ .isMac }} */ -}}

{{- if .isWsl -}}
{{ include "zsh/wsl_zshrc" }}
{{- else if .isMac -}}
{{-   if eq .pc "work" -}}
{{ include "zsh/work_zshrc" }}
{{-   else -}}
{{ include "zsh/mac_zshrc" }}
{{-   end -}}
{{- else -}}
{{ include "zsh/linux_zshrc" }}
{{- end -}}
